html {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  position : absolute;
  top: 100px;
  padding-left: 40px;
  font-weight: lighter;
}
.grid-container {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 2em;
  width: 100%;
  position:absolute;
  top: 230px;
}
.grid-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
}
.pagination{
  text-align: center;
  display: none;
}
#paginationTop{
  padding-bottom: 20px;
} 
#paginationBottom{
  padding-top: 20px;
}
.pagination button{
  border: none;
  background-color: transparent;
  color: gray;
}
#prevTop, #prevBottom{
  margin-right: 5px;
}
@media(max-width:628px) {
  .grid-container,.pagination {
    padding-left: 25%;
  }
  .pagination{
    text-align: left;
  }
}
