<html>
    <h2 id="artistName"></h2>
    
    <!-- div to put the album results in-->
    <div class="grid-container">
        <div id="paginationTop" class="pagination">
            <button id="prevTop" > < prev</button>
            <button id="nextTop"> next > </button>
        </div>
        <div class="grid-videos" id="grid-videos">
        </div>
        <div id="paginationBottom" class="pagination">
            <button id="prevBottom"> < prev</button>
            <button id="nextBottom"> next > </button>
        </div>
    </div>
</html>
