<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <form id="form">
        <input type="text" [(ngModel)]='searchBar' (keyup)="searchMusic()" class="search-bar" id="search-bar" name="searchBar" placeholder="Search for Artist...">
        <button type="submit" id="search" class="fa fa-search" (click)="searchMusic()"></button>
    </form>

    <div class="grid-container">
        <div class="grid-videos" id="grid-videos">
        </div>
    </div>
</html>